#login {
  margin-left: 0;
  margin-right: 0;
  border-radius: 50px;
}
#form {
  padding: 2rem;
  margin: 2rem;
}

.card-title {
  white-space: nowrap;
}

@media screen and (max-width: 1100px) {
  .card .card-title {
    font-size: 20px;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0;
  background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,.1));
  position: relative;
}

.home-hero-header {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 1rem;
  box-shadow: 3px 3px 12px rgba(0,0,0,.2);
}


.wrapper .responsive-img {
  max-width: 50%;
}

.hero-btn.btn {
 width: 100%;
 margin: 0 20vw;
}

.home-hero.row {
  margin-bottom: 0;
}

.col.p2 {
  padding: 2rem;
}

.tabs li.indicator {
  background-color: #FBC02D;
}