/* =================== */
/* HOMEPAGE STYLES */
/* =================== */
.home-hero.row {
  margin-bottom: 0;
}

.col.p1 {
  padding: 1rem;
}
.col.p2 {
  padding: 2rem;
}

.home-section-partners {
  padding: 1rem;
  margin-bottom: 2rem;
}

.home-section-partners .row h4 {
  text-transform: uppercase;
}

.video-container.map {
  padding-bottom: 13%;
}

/* =================== */
/* BUSINESS CARD GALLERY STYLES */
/* =================== */
.bcard-gallery {
  display: flex;
  flex-wrap: wrap;
}

.bcard-gallery a {
  color: black;
  margin: 1rem;
}

.bcard-gallery img {
  width: 250px;
  height: 143px;
  background: yellow;
}

/* =================== */
/* 404 STYLES */
/* =================== */
#img-wrapper404 {
  position: relative;
}

#img404 {
  width: 100%;
}

#btn404 {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

/* =================== */
/* PAGE HELPERS */
/* =================== */

.parallax-container.page-header {
  height: auto;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.m2a {
  margin: 2rem auto;
}

.m4a {
  margin: 4rem auto;
}

.ms1 {
  margin: 0 1rem;
}
.ms2 {
  margin: 0 2rem;
}

.p1 {
  padding: 1rem;
}
.p2 {
  padding: 2rem;
}

.ps2 {
  padding: 0 2rem;
}

.ts {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.3),
    2px 2px 7px rgba(0, 0, 0, 0.5), 3px 3px 9px rgba(0, 0, 0, 0.8);
}

.round-border {
  border-radius: 50px;
}

span.err {
  color: red;
}

/* =================== */
/* MATERIALIZE OVERRIDES */
/* =================== */

.card-title {
  white-space: nowrap;
}

@media screen and (max-width: 1100px) {
  .card .card-title {
    font-size: 20px;
  }
}

.tabs li.indicator {
  background-color: #fbc02d;
}

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
  line-height: 48px;
  height: 48px;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: black;
}

.breadcrumb:before {
  color: #bdbdbd;
}

.collection {
  border: 1px solid rgb(255, 222, 138);
}

.collection .collection-item {
  border-bottom: 1px solid #FBC02D;
}

textarea.materialize-textarea {
  padding: 0;
}

/* =================== */
/* COMPONENT STYLES */
/* =================== */

.construction {
  width: 100%;
  padding: 300px 60px;
  font-size: 48px;
  font-weight: bold;
  height: 260px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 3px 7px #00fffb, 3px 4px 8px rgba(0,0,0,.4), 4px 5px 8px rgba(0,0,0,.3), 5px 6px 8px rgba(0,0,0,.2), 6px 7px 9px rgba(0,0,0,.1);
  color: #6dff49;
  background: repeating-linear-gradient(50deg, #FDD835 0%, #FDD835 5%, black 5%, black 10%);
  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: pulse 5s ease infinite alternate forwards;
}

@keyframes pulse {
  0% {
    color: #00fffb;
  }
  33% {
    /* color: #6d49ff; */
    color: white;
  }
  66% {
    color: #ff4949;
  }
}



